body {
    background-color: aquamarine; 
 }
.login-div {
    padding: 20px;
     border: solid 5px blueviolet;
     box-shadow: 1px 1px 3px;
     display: inline-block;
}
.login-div input {
    display: block;
    margin-bottom: 10px;
}
.login-div input[type="e-mail"] {
    border: solid 5px rgb(11, 63, 143)
}
.login-div input[type="password"] {
    border: solid 5px rgb(11, 63, 143)
}
.login-div button:hover {
    box-shadow: 5px 5px 10px;
}