html {
    background-color:rgb(243, 243, 10)
}
h1 {
    text-align: center;
    margin: 100px 50px 100px 50px;
    color: seagreen;
    font-family: sans-serif;
<<<<<<< HEAD
    font-size: 20px;
=======
<<<<<<< HEAD
    font-size: 20px;
=======
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 22px;
>>>>>>> 8816277d9891eb0bf0f038177f506c30345861e4
>>>>>>> f15a52a3c3351a59efa7d1719c66dbbf3fa3d995
>>>>>>> a304e30b5372c4bd4932a6feb987305b8bcd6f79
}
h2 {
    text-align: center;
    font-family: sans-serif;
<<<<<<< HEAD
    font-size: 15px;
=======
<<<<<<< HEAD
    font-size: 15px;
=======
<<<<<<< HEAD
    font-size: 15px;
=======
    font-size: 18px;
>>>>>>> 8816277d9891eb0bf0f038177f506c30345861e4
>>>>>>> f15a52a3c3351a59efa7d1719c66dbbf3fa3d995
>>>>>>> a304e30b5372c4bd4932a6feb987305b8bcd6f79
    color: seagreen;
    margin: 20px 50px 20px 50px;
}
