html {
    background-color:rgb(243, 243, 10)
}
h1 {
    text-align: center;
    margin: 100px 50px 100px 50px;
    color: seagreen;
    font-family: sans-serif;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 22px;
>>>>>>> 8816277d9891eb0bf0f038177f506c30345861e4
}
h2 {
    text-align: center;
    font-family: sans-serif;
<<<<<<< HEAD
    font-size: 15px;
=======
    font-size: 18px;
>>>>>>> 8816277d9891eb0bf0f038177f506c30345861e4
    color: seagreen;
    margin: 20px 50px 20px 50px;
}
