html {
    background-color:rgb(243, 243, 10)
}
h1 {
    text-align: center;
    margin: 100px 50px 100px 50px;
    color: seagreen;
    font-family: sans-serif;
    font-size: 25px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
h3 {
    text-align: justify;
    font-family: sans-serif;
    margin: 20px 300px 20px 300px;
}
p {
    font-family: sans-serif;
    margin: 20px 300px 20px 300px;
    text-align: center;
    font-size: 25px;
}
 .cim {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    margin: 100px 50px 100px 50px;
}
img {
   border-style: double;
   width: 600px;
   margin-left: 380px;
   background-color: seagreen;
  }
  .kedves {
      border-style: double;
      background-color: springgreen;
      text-align: center;
        }