html {
    background-color: violet;
    }
    h1 {
    text-align: center;
    margin: 40px 50px 40px 50px;
    font-family: sans-serif;
    }
    h2 {
    text-align: center;
    margin: 30px 50px 30px 50px;
    font-family: sans-serif;
    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f15a52a3c3351a59efa7d1719c66dbbf3fa3d995
       img {
        border-style: double;
        width: 300px;
        position: fixed;
     background-color: seagreen;
        box-shadow: 15px 15px 30px seagreen
        
<<<<<<< HEAD
=======
=======
    h3 {
    text-align: center;
    margin: 30px 220px 30px 50px;
    font-family: sans-serif;
    }
    img {
        border-style: double;
        width: 300px;
        margin-left: 530px;
        margin-top: 0px;
        background-color: seagreen;
        box-shadow: 15px 15px 30px seagreen
>>>>>>> 8816277d9891eb0bf0f038177f506c30345861e4
>>>>>>> f15a52a3c3351a59efa7d1719c66dbbf3fa3d995
         }